<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Sistema de Gestion de Contactos</display-name>

    <servlet>
        <servlet-name>Listar</servlet-name>
        <servlet-class>Proyecto3.ListarContactoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Crear</servlet-name>
        <servlet-class>Proyecto3.CrearContactoServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Cargar</servlet-name>
        <servlet-class>Proyecto3.CargarContactoServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>Modificar</servlet-name>
        <servlet-class>Proyecto3.ModificarContactoServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>Proyecto3.EliminarContactoServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Listar</servlet-name>
        <url-pattern>/listar</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Crear</servlet-name>
        <url-pattern>/CrearContactoServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Cargar</servlet-name>
        <url-pattern>/CargarContactoServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Modificar</servlet-name>
        <url-pattern>/ModificarContactoServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/EliminarContactoServlet</url-pattern>
    </servlet-mapping>
    
    
    <welcome-file-list>
        <welcome-file>listar</welcome-file> 
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>